<main class="main">
        <div class="main__container container">
            <h2 class="main__title">Рекомендации для вас</h2>
            <ul class="ads-grid" id="adsGrid">
                <li class="ad-card">
                    <div class="ad-card__image">
                        <img src="/littleDog.png" alt="Щенок в праздничной шляпе" class="ad-card__img">
                    </div>
                    <div class="ad-card__info">
                        <h3 class="ad-card__title">Прекрасный щенок!</h3>
                        <p class="ad-card__price">{{ price2 }}</p>
                        <p class="ad-card__description">У него недавно был день рождения</p>
                        <p class="ad-card__date">{{ curDate | date }}</p>
                    </div>
                </li>
                <li class="ad-card">
                    <div class="ad-card__image">
                        <img src="/parrot.png" alt="Мужчина с попугаем" class="ad-card__img">
                    </div>
                    <div class="ad-card__info">
                        <h3 class="ad-card__title">Верный друг</h3>
                        <p class="ad-card__price">{{ price1 | currency: '₽' }}</p>
                        <p class="ad-card__description">Он даже раговаривает немного</p>
                        <p class="ad-card__date">{{ curDate | date }}</p>
                    </div>
                </li>
            </ul>
        </div>
    </main>
